[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bonobo = "*"
requests = "*"
requests-cache = "*"
strava-flyby = "*"
stravalib = "*"
"uboto3" = {git = "https://github.com/sladkovm/uboto3.git", editable = true}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
